<h1><%= project.name %></h1>

<a href="/projects/<%= project.basename %>"><< back</a>
<br /><br />

<h2 class="<%= build.status %>"><%= build.commit %></h2>
<div class="column">
<% if build.status == "passed" %>
 <a href='/projects/<%= project.basename %>/build/<%= build.commit %>/tar_ball'>download</a>
<br /><br />
<% end %>

| <% build.logs.each do |log| %>
 <a href="#<%= log.file_name %>"><%= log.file_name %></a> |
<% end %>
</div>
<div class="column">
  <a href="/projects/<%= project.basename %>/commit/<%= build.commit %>">Want to see the commit?</a>
</div>
<br class="clear" />
<br />
<br />

<% build.logs.each do |log| %>
  <h3 class="log"><%= log.file_name %></h3>
  <a name="<%= log.file_name %>" href="#top" class="top">top</a>
  <pre class="terminal"><%= ansi_color_codes(h(log.contents)) %></pre>
<% end %>
<br /><br />
