<h1><%= project.name %></h1>

<a href="/projects/<%= project.basename %>"><< back</a>
<br /><br />

<h2><%= commit %></h2>

<pre class="terminal"><%= ansi_color_codes(h(stat)) %>

<%= ansi_color_codes(h(diff)) %></pre>