<h1>Configure <%= project.name %></h1>

<a href="/projects/<%= project.basename %>"><< back</a>
<br /><br />

<form method="POST" action="/projects/<%= project.basename %>">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= project.name %>" />
  <br />
  <br />

  <label for="branch">Integration branch</label>
  <select name="branch">
    <option value="">...</option>
    <% project.integration_branches.each do |branch| %>
      <% branch_name = branch.gsub("origin/", "") %>
      <option value="<%= branch_name %>" <%= "selected" if branch_name == project.branch %>><%= branch %></option>
    <% end %>
  </select>

  <br />
  <br />
  <input type="submit" />
</form>