<h1><%= project.name %></h1>

<a href="/"><< back</a><br /><br />
<h2 class="<%= project.build_status %>"><%= project.build_status %></h2>

<%
  builds = project.builds
  current = builds.select { |b| b.commit == project.current_build }.first
  latest  = builds.select { |b| b.commit == project.latest_build }.first
%>

<% unless current.nil? && latest.nil?%>
  <h2>Overview</h2>
  <strong class="label">Current</strong> :
  <a class="<%= current.status %>" href="/projects/<%= project.name %>/build/<%= current.commit %>"><%= current.commit %></a>
  <br />
  <strong class="label">Latest successful</strong> :
  <a class="<%= latest.status %>" href="/projects/<%= project.name %>/build/<%= latest.commit %>"><%= latest == current ? "current" : latest.commit %></a>
  <br />
  <br />
  <br />
<% end %>

<h2>Build history</h2>
<div class="column">
  <pre class="terminal"><% project.log.each do |line| %><% build = nil; if (build = line[:build]) %><a href="/projects/<%= project.name %>/build/<%= build.commit %>"><%= ansi_color_codes(line[:line]).chomp %></a> <span class="status">[<span class="<%= build.status %>"><%= build.status %></span>]</span>
<% else %><%= ansi_color_codes line[:line] %>
<% end %><% end %></pre>
</div>
