<%= erb :project_header, :locals => { :project => project } %>

<br />
<section id="details">
  <div class="row">
    <div class="alert <%= status2alert(project.build_status) %> span11">
      Build status: <strong><%= project.build_status %></strong>
    </div>
  </div>

  <%
    builds = project.builds
    current = builds.select { |b| b.commit == project.current_build }.first
    latest  = builds.select { |b| b.commit == project.latest_build }.first
  %>

  <br />
  <div class="row">
    <div class="span6">
      <h2>Overview</h2>
    </div>
  </div>
  <div class="row">
    <div class="span6 well">
      <% if project.locked? %>
        <span class="label label-warning">Locked</span>
        <br /><br />
      <% end %>
      <div class="row" style="padding-bottom: 5px">
        <div class="span2"><strong>Current</strong></div>
        <div class="span2">
          <% unless current.nil? %>
            <a href="/projects/<%= project.basename %>/build/<%= current.commit %>">
              <span class="label <%= status2label(current.status) %>">
                <%= current.commit %>
              </span>
            </a>
          <% end %>
        </div>
      </div>


      <div class="row" style="padding-bottom: 5px">
        <div class="span2"><strong>Last successful</strong></div>
        <div class="span2">
          <% unless latest.nil? %>
            <a href="/projects/<%= project.basename %>/build/<%= latest.commit %>">
              <span class="label <%= status2label(latest.status) %>">
                <%= latest == current ? "Current" : latest.commit %>
              </span>
            </a>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="span2"><strong>Integration branch</strong></div>
        <div class="span4">
          <span class="label label-info"><%= project.branch %></span>
          <a class="pull-right btn btn-success" href="/projects/<%= project.basename %>/fetch">Fetch & Integrate</a>
        </div>
      </div>

    </div>

  </div>
</section>

<section id="history">
  <br />
  <h2>Build history</h2>

  <br />

  <div class="row">
    <div class="span12">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#gitlog" data-toggle="tab">Git log</a></li>
        <li><a href="#buildlist" data-toggle="tab">Builds list</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="gitlog">
          <pre class="terminal"><% project.log.each do |line| %><% build = nil %><%= ansi_color_codes line[:graph] %><% unless line[:commit].nil? %><a href="/projects/<%= project.basename %>/commit/<%= line[:commit] %>"><%= line[:commit] %></a><% if (build = line[:build]) %><a class="build" href="/projects/<%= project.basename %>/build/<%= build.commit %>"><%= ansi_color_codes(line[:message]) %></a> <span class="status">[<span class="<%= build.status %>"><%= build.status %></span>] (<%= build.date %>, <%= build.author.gsub '<', '&lt;' %>)</span><% else %><%= ansi_color_codes line[:message] %><% end %><% end %>
<% end %></pre>
        </div>
        <div class="tab-pane" id="buildlist">
          <div class="accordion" id="build_accordion">
            <% project.builds.sort_by(&:time).reverse.each do |build| %>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="pull-left accordion-toggle" data-toggle="collapse" data-parent="#build_accordion" href="#<%= build.commit %>"><%= build.commit %></a>
                  <span class="pull-left label <%= status2label(build.status) %>" style="margin-top: 5px"><%= build.status %></span>
                  <br class="clear" />
                </div>
                <div id="<%= build.commit %>" class="accordion-body collapse">
                  <div class='accordion-inner'>
                    <%= build.message.gsub("\n", '<br />') %>
                    <br />

                    <strong>Author</strong>: <%= build.author %><br />
                    <strong>Date</strong>: <%= build.date %><br />
                    <br />
                    <div class="btn-group">
                      <a class="btn" href="/projects/<%= project.basename %>/build/<%= build.commit %>">Open</a>
                      <% if !build.tar_ball.nil? %>
                        <a class="btn btn-info" href="/projects/<%= project.basename %>/build/<%= build.commit %>/tar_ball">Download</a>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
