<h1><%= project.name %></h1>

<a href="/"><< back</a><br /><br />
<h2 class="<%= project.build_status %>"><%= project.build_status %></h2>

<%
  builds = project.builds
  current = builds.select { |b| b.commit == project.current_build }.first
  latest  = builds.select { |b| b.commit == project.latest_build }.first
%>

<div class="column">
  <h2>Overview</h2>
  <strong class="label">Current</strong> :
  <% unless current.nil? %>
    <a class="<%= current.status %>" href="/projects/<%= project.basename %>/build/<%= current.commit %>"><%= current.commit %></a>
  <% end %>
  <br />
  <strong class="label">Latest successful</strong> :
  <% unless latest.nil? %>
    <a class="<%= latest.status %>" href="/projects/<%= project.basename %>/build/<%= latest.commit %>"><%= latest == current ? "current" : latest.commit %></a>
  <% end %>
  <br />
  <strong class="label">Integration branch</strong> :
  <%= project.branch %>
  <br />
</div>
<div class="column">
  <a href="/projects/<%= project.basename %>/configure">Configure <%= project.name %></a>
</div>
<br class="clear"/>
<br />
<br />

<h2>Build history</h2>
<pre class="history terminal"><% project.log.each do |line| %><% build = nil %><%= ansi_color_codes line[:graph] %><% unless line[:commit].nil? %><a href="/projects/<%= project.basename %>/commit/<%= line[:commit] %>"><%= line[:commit] %></a><% if (build = line[:build]) %><a class="build" href="/projects/<%= project.basename %>/build/<%= build.commit %>"><%= ansi_color_codes(line[:message]) %></a> <span class="status">[<span class="<%= build.status %>"><%= build.status %></span>] (<%= build.date %>, <%= build.author.gsub '<', '&lt;' %>)</span><% else %><%= ansi_color_codes line[:message] %><% end %><% end %>
<% end %></pre>
